/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, font, img, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

:focus {
	outline: 0;
}
/* // Reset */
/* --------------Comienza Generales-------------- */

body {
  background:#cdc099ff;
  background-image: url(../imagen/bg.jpg);
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size:14px;
  padding:0;
  margin:0;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding:-28px 5 5 5;
    margin: -16px 5px 5px 5px;

}
.jfps {
    background-color: #92b74e;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    padding-left:4px;
    padding-right:4px;
}

#coop h2 {
    color: #92b74e;
    font-size: 17px;
    padding: 0px 0px 0px 0px;

    
}

p {
  text-align:justify;
}



.der{
  float:right;
}

.centro{
  margin: 0pt auto;
  padding:0pt;
 
}
.separador{
  clear:both;
}


/* --------------Termina Generales-------------- */

/* --------------Contenedor que centra todo el sitio-------------- */

/* --------------Comienza Header-------------- */

#header {
overflow: hidden;
height: 70px;
background-color:#8E451A;
background-image: url(../imagen/header.png);

}
#header h1, h2 {
    margin: 2px 4px 0px 0px;
    padding: 5px 6px 7px 0px;

}
#header ul#nav {
    float: right;
    font-size: 14px;
    margin: -24px;
    padding: 0px;
}
#nav li {
    display: inline;
    padding-right: 10px;
}

#nav a{
    text-decoration: none;
    color: #92B74B;
    padding:5px;
}

#nav a {
    color: #fff;
    background: #2F1D0A;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

}

#nav a:hover {
    color: #fff;
    background: rgba(146,183,78,0.95);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

}


#header_contenedor{
  width:960px;
  height:70px;
  border-radius:7px;
  -moz-border-radius:7px; 
  -webkit-border-radius:7px;
  margin:0pt auto;
  padding:0pt;
}

#logo{
  width:750px;
  font-size:22px;
  font-weight:bold;
  color:#385B1D;
  text-shadow: 0 0 2px #4e4e4e;
  padding-top:20px;
  height:55px;
}
#imagen_logo{
    width: 555px;
    height: 61px;
    margin:-8pt auto;
    padding:0pt;
}
#imagen_header{
  width:128px;
  height:75px;
  background-image: url(../imagen/gota.jpg);
  background-repeat: no-repeat;
}
#contenedor{
  width:960px;
  margin-top:15px;
}

#sub_header{
width:960px;
margin:0 auto;
height:300px;
}

#button{
  background:#35332d;
  border-color:#daba71;
  border-width:1px;
  border-style:solid;
  height:22px;
  color:#fff;
  border-radius:4px;
  -moz-border-radius:4px; /* Firefox */
  -webkit-border-radius:4px; /* Safari y Chrome */ 
  margin-left:7px;
}
.pimp {
    width: 960px;
    height: 16px;
    background-image: url(../imagen/bg-footer.png);
    margin:8pt auto;
    padding:2pt;
    border-radius:7px;
   -moz-border-radius:7px; 
   -webkit-border-radius:7px;
}

#pasos{
  background-image: url(../imagen/pasos.png);
  width:420px;
  height:235px;
  *height:285px;
  *width:470px;
  float:right;
  margin-top:8px;
  padding:25px;
}

.pasos_elementos{
  height:50px;
  border-bottom:#3a4d29 1px dotted;
  color:#374133;
  padding-top:10px;
}

.pasos_elementos img{
  float:left;
  margin-right:15px;
}

#pasos a, #pasos a:visited{
  padding-top:7px;
  padding-bottom:7px;
  padding-left:15px;
  padding-right:15px;
  background: #85a846 url(../imagen/fondo_consultar_boton.png) repeat-x;
  color:#fff;
  font-size:22px;
  text-decoration:none;
  border:#94b957 1px solid;
  text-shadow: 0px -1px 0px #37461c;
  -moz-text-shadow: 0px -1px 0px #37461c;
  -webkit-text-shadow: 0px -1px 0px #37461c;
  border-radius:100px;
  -moz-border-radius:100px; 
  -webkit-border-radius:100px;
  float:right;
  box-shadow: 0px 0px 6px #19200d;
  -moz-box-shadow: 0px 0px 6px #19200d;
  -khtml-box-shadow: 0px 0px 6px #19200d;
  -webkit-box-shadow: 0px 0px 6px #19200d;	
}

#pasos a:hover{
  background: #85a846;
}
/* --------------Termina Header-------------- */

/* --------------Comienza menu linea base*/

#menu ul {
    background:#92b74e;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    width: 950px;
    height: 30px;
    float: left;
    padding:7px;
    margin-bottom: 9px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#menu ul li {
display: inline;

}
#menu ul li a:link, #menu ul li a:visited {
color:#fff;
background: url(../imagen/fondo_menu.png) repeat-x;
padding: 9px 6px;
float: left;
text-decoration: none;
border-radius:5px;
-moz-border-radius: 5px;
-khtml-border-radius: 5px;
-webkit-border-radius: 5px;
margin-right:6px;
font-size:13px;



}
#menu ul li a:hover, #menu ul li a:active{
color: #fff;
background:#73903D ;
}

/* ---------------Termina menu linea base*/



/* --------------Comienza contenido--------------- */
#contenido{
  width:960px;
  !width:960px;
  color:#5d5d5d;
 }

#colum_izq{
  width:140px;
  margin-right:10px;
  background:#d9cfbf;
  border-radius:6px;
  -moz-border-radius:6px; /* Firefox */
  -webkit-border-radius:6px; /* Safari y Chrome */ 
  padding:5px;
  float: left;
}
.enlace_sidebar{
  color:#000;
  font-weight:bold;
  font-size:14px;
  height:23px;
  padding-top:7px;
  padding-left:30px;
}


#colum_der{
  width:960px;
  padding:0px;
  margin: 0px 0px 18px 0px;
  border-radius: 6px;
  -moz-border-radius:6px; /* Firefox */
  -webkit-border-radius:6px; /* Safari y Chrome */ 
}

#colum_der img{
  margin-bottom:3px;
}
#titulo{
   background:#f2f2f2;
   background:#8a796f;
   font-size:20px;
   font-weight:bold;
   padding:7px;
   width:948px;
   height:20px;
   color:#f8f7f7;
   text-shadow: 0px -1px 3px #483916;
   border-top-right-radius:7px;
   border-top-left-radius:7px;
   -moz-border-radius-topright:7px;
   -moz-border-radius-topleft:7px;
   -webkit-border-top-left-radius:7px;
   -webkit-border-top-right-radius:7px;
}

#filtros{
    background: url(../imagen/fondofiltro.png) repeat-x;
    height:36px;
    border-left:#a89b93 1px solid;
    border-right:#a89b93 1px solid;
    border-bottom:#d6d1d1 1px solid;
    width:960px;
}

.variables{
    float:left;
    background:#ccc;
    width:85px;
    font-weight:bold;
    height:26px;
    padding-top:10px;
    padding-left:15px;
    margin-right:15px;
}

.variables_filtro{
    float:left;
    font-size:12px;
    margin-top:4px;
    margin-right:10px;
    padding-right:10px;
    border-right:#d5d5d5 1px solid;
}

#filtros a, #filtros a:visited{
  padding-top:6px;
  padding-bottom:6px;
  padding-left:8px;
  padding-right:8px;
  background: #85a846 url(../imagen/fondo_consultar_boton.png) repeat-x;
  color:#fff;
  margin-top:4px;
  margin-right:5px;
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
  border:#94b957 1px solid;
  text-shadow: 0px -1px 0px #4D6325;
  -moz-text-shadow: 0px -1px 0px #4D6325;
  -webkit-text-shadow: 0px -1px 0px #4D6325;
  border-radius:100px;
  -moz-border-radius:100px; 
  -webkit-border-radius:100px;
  float:right;
  margin-right:12px;

}

#filtros a:hover{
  background: #85a846;
}

#contenido_interno{
    clear: both;
	margin: 0px auto;
	width: 930px;
    *width:960px;
	background: #f8f7f7;
    border-bottom-right-radius:7px;
    border-bottom-left-radius:7px;
    -moz-border-radius-bottomright:7px;
    -moz-border-radius-bottomleft:7px;
    -webkit-border-bottom-left-radius:7px;
    -webkit-border-bottom-right-radius:7px;
    border-left:#a89b93 1px solid;
    border-right:#a89b93 1px solid;
    border-bottom:#a89b93 1px solid;
	position: relative; 
	z-index: 90;  
    padding:15px;
}

#index_left{
  width:380px;
  float:left;
  margin-right:5px;
}

#index_left h2{ 
    font-size:18px;
    color:#48311a;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top:#3d3123 1px dotted;
    border-bottom:#3d3123 1px dotted;
}

#index_left .estadisticas{ 
    padding-top:13px;
    border-bottom:#3d3123 1px dotted;
    height:50px;
}

#index_left .estadisticas img{ 
    float:left;
    margin-right:8px;
}

#index_left .hombre{ 
    float:left;
    margin-right:24px;
    font-size:13px;
}

#index_left .total{ 
    border-left:#837564 1px solid;
    padding-left:15px;
}

#index_left .familia_promedio{ 
    background:#e5e3e2;
    width:73px;
    height:38px;
    font-weight:bold;
    float:left;
    padding-top:8px;
    padding-left:8px;
    margin-right:15px;
    border-radius:4px;
    -moz-border-radius:4px; 
    -webkit-border-radius:4px;
}
#index_left .ultima_encuesta{ 
    font-size:11px;
    font-style:italic;
    float:right;
    margin-top:5px;
    padding-top:3px;
    
}

#index_left .ultima_encuesta img{ 
    float:right;
    margin-left:8px;
}
#index_right{
  width:540px;
  float:right;
}

#index_right p{
  line-height:1.3;
  font-size:13px;
}
#index_right h2{ 
    font-size:18px;
    color:#48311a;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top:#3d3123 1px dotted;
    border-bottom:#3d3123 1px dotted;
}
#foto_menu{
  margin-right:10px;
}

#pintar a:hover {
    color: #54A4EE;

}

/* Para formulario */

.form_label{
    float:left;
    width:140px;
    height:24px;
    background: #DDDCD1;
    padding-top:6px;
    padding-left:15px;
    margin-bottom:8px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-bottomleft:4px;
    -webkit-border-top-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
}

#id_cooperativa, #id_fecha, #id_departamento, #id_municipio,
#id_comunidad, #id_socio, #id_sexo, #id_dueno,#id_desde{
    width:200px;
    height:30px;
    background: #fff url(../imagen/combobox.png) repeat-x;
    border:#DDDCD1 1px solid;
    margin-bottom:8px;
    font-size:12px;
    color:#838377;
}

#boton{
padding-left:15px;
padding-right:15px;
  background: #85a846 url(../imagen/fondo_consultar_boton.png) repeat-x;
  color:#fff;
  font-size:20px;
  text-decoration:none;
  border:#94b957 1px solid;
  text-shadow: 0px -1px 0px #37461c;
  -moz-text-shadow: 0px -1px 0px #37461c;
  -webkit-text-shadow: 0px -1px 0px #37461c;
  border-radius:100px;
  -moz-border-radius:100px; 
  -webkit-border-radius:100px;
  box-shadow: 0px 0px 5px #19200d;
  -moz-box-shadow: 0px 0px 5px #19200d;
  -khtml-box-shadow: 0px 0px 5px #19200d;
  -webkit-box-shadow: 0px 0px 5px #19200d;	
}

#boton:hover{

  background: #85a846 ;

}
#contenido_interno form{
    width:360px;
    float:left;
}
#formulario_tabla{
    width:360px;
}
#indicadores{
    width:560px;
    height:256px;
    background: #dddcd1;
}

#contenedor_indicadores{
    margin:15px;
}

#contenedor_indicadores a{
    *width:160px;
    width:110px;
    *height:40px;
    height:26px;
    display:block;
    float:left;
    margin-right:15px;
    margin-bottom:10px;
    border-bottom:#cecdbc 1px solid;
    padding-left:50px;
    padding-top:14px;
    font-size:11px;
    text-decoration:none;
    color:#5a5a5a;
}

#contenedor_indicadores a:hover{
    color:#000
}

.familia{background:#f9f8f8 url(../imagen/familia.jpg) no-repeat;}
.organizacion{background:#f9f8f8 url(../imagen/organizacion.jpg) no-repeat;}
.fincas{background:#f9f8f8 url(../imagen/fincas.jpg) no-repeat;}
.arboles{background:#f9f8f8 url(../imagen/arboles.jpg) no-repeat;}
.animales{background:#f9f8f8 url(../imagen/animales.jpg) no-repeat;}
.cultivos{background:#f9f8f8 url(../imagen/cultivos.jpg) no-repeat;}
.ingresos{background:#f9f8f8 url(../imagen/ingresos.jpg) no-repeat;}
.bienes{background:#f9f8f8 url(../imagen/bienes.jpg) no-repeat;}
.ahorro{background:#f9f8f8 url(../imagen/credito.jpg) no-repeat;}
.servicios{background:#f9f8f8 url(../imagen/servicios.jpg) no-repeat;}
.seguridad{background:#f9f8f8 url(../imagen/seguridad.jpg) no-repeat;}
.agua{background:#f9f8f8 url(../imagen/agua.jpg) no-repeat;}
.salud{background:#f9f8f8 url(../imagen/salud.jpg) no-repeat;}
.luz{background:#f9f8f8 url(../imagen/luz.jpg) no-repeat;}
.educacion{background:#f9f8f8 url(../imagen/educacion.jpg) no-repeat;}

.titulo_indicadores{
    font-size:17px;
    padding-left:15px;
    background: #cbc9b9;
    margin: 0px 0px 0px 0px;
}

#contenedor_servicio{
    padding:10px;
    padding-left:30px;
    width:640px;
    *width:680px;
    height:35px;
    background:#dddcd1;
  border-radius:3px;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px;
  float:left;
  margin-bottom:10px;
}

#contenedor_servicio a{
    width:78px;
    *width:128px;
    height:23px;
    *height:33px;
    display:block;
    float:left;
    margin-right:25px;
    border-bottom:#cecdbc 1px solid;
    padding-left:50px;
    padding-top:10px;
    font-size:11px;
    text-decoration:none;
    color:#5a5a5a;
}

#contenedor_servicio a:hover{
    color:#000
}

/* --------------Graficos widget-------------- */

#sidebar{float:right;}

.graficos_widget{
    width:240px;
    background: #dadada;
   border-top-right-radius:7px;
   border-top-left-radius:7px;
   -moz-border-radius-topright:7px;
   -moz-border-radius-topleft:7px;
   -webkit-border-top-left-radius:7px;
   -webkit-border-top-right-radius:7px;
   border:#ebebe4 1px solid;
   margin-bottom:10px;
   float:right;
}

.graficos_widget h1{
   border-top-right-radius:7px;
   border-top-left-radius:7px;
   -moz-border-radius-topright:7px;
   -moz-border-radius-topleft:7px;
   -webkit-border-top-left-radius:7px;
   -webkit-border-top-right-radius:7px;
   background:#c9c7b6 url(../imagen/fondo_widget_titulo.png);
   color:#6c6c6c;
   font-size:16px;
   margin:0px;
   padding:5px 10px 5px 10px;
}

.graficos_widget a{
    float:left;
    display:block;
    width:215px;
    height:20px;
    background:#fff url(../imagen/fondo_widget_grafico.png);
    border-bottom:#e1dccb 1px solid;
    text-decoration:none;
    color:#8B8989;
    font-size:13px;
    padding-top:7px;
    padding-left:25px;
}

.graficos_widget a:hover{
    background:#fff url(../imagen/fondo_widget_grafico2.png);
    color:#5C5C5C;

}
.enlace_seleccionado {
    background:#fff url(../imagen/fondo_widget_grafico3.png) !important;
    color:#000!important;
}

.graficos_widget a:active{
    background:#fff url(../imagen/fondo_widget_grafico3.png);
    color:#000;

}

#grafo{
   border-radius:7px;
   -moz-border-radius:7px;
   -webkit-border-radius:7px;
   background: #fff;
   width:660px;
padding-left:20px;

}

/* --------------Termina contenido-------------- */

/* --------------Comienza footer-------------- */

#footer{
    width: 100%;
    height: 65px;
    background-color: #c6bea1;
}

#footer_contenedor{
  height:16px;
  width:960px;
  padding-top:10px;
}
#logo_footer{
  width:45px;
  height:60px;
  float:left;
  background-image: url(../imagen/logofooter.png);
  background-repeat: no-repeat;
  margin-right:10px;
}
#creditos{
    color:#756f65;
    font-size:13px;
    width:360px;
    height:60px;
    padding-top:13px;
    margin-left:10px; 
}

#creditos a{
    color: #756f65;
    font-size: 13px;
    font-weight:bold;
    text-decoration: none;
}

#creditos a:hover{
    text-shadow: 0px 0px 2px #222;
    color: black;   
}

/* Termina footer */
#validador p{
    text-align: center;
    
}
/* CSS Especial para las tablas */

caption {
	padding: 5px;
	margin:0 auto;
	width:auto;
    margin-top:15px;
    margin-bottom:5px;
	text-align: left;
    font-size:18px;
    color:#48311a;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top:#3d3123 1px dotted;
    border-bottom:#3d3123 1px dotted;
}

table {
	width:680px;
}

th{
	font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #473f31;
	border-right: 1px solid #ded3ba;
	border-bottom: 1px solid #ded3ba;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
    font-weight:bold;
	padding: 8px 12px 4px 12px;
	background:url(../imagen/bg_header.png) repeat-x;
	vertical-align:middle;
}

td.total{
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
	text-align:right;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
}

th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime{
	cursor:pointer;
	background: #CAE8EA url(../imagen/bg_header_sortable.jpg) no-repeat;
	padding: 8px 12px 4px 16px;
}

th.forwardSort{
	background:#CAE8EA url(../imagen/bg_header_down.jpg) no-repeat 0 0;
}

th.reverseSort{
	background:#CAE8EA url(../imagen/bg_header_up.jpg) no-repeat 0 0;
}

table thead th.forwardSort a,
table thead th.reverseSort a {
	color:#000;
	text-decoration:none;
}

/*
These styles should be added when very long tables are expected
th.sort-active {
	background:#CAE8EA url(../media/bg_header_sorting.jpg) no-repeat 0 0;
	cursor:wait;
}

th.sort-active a {
	color:#a80000 !important;
	cursor:wait;
}
*/

th a {
	text-decoration:none;
	color: #4f6b72;
	background:transparent;
}

td a {
	text-decoration:none;
	color:#239;
	background:transparent;
}

td img {
	margin:0 auto;
	border:3px solid #ddd;
}

td a:hover {
	color:#a84444;
	border-bottom:1px dotted #a80000;
	background:transparent;
}

td {
	font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #E0DDD2;
	border-bottom: 1px solid #E0DDD2;
	padding: 6px 12px 6px 12px;
	color: #696969;
	background: #FFFFFF;
}

td.lft {
	text-align:left;
}

tr.alt {
	background: #F5FAFA;
	color: #797268;
}

/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) */
tr[class="alt"] td {
	background: #F5FAFA url(../media/td_alt.jpg) no-repeat;
}

td[class~="alt"]{
	background: #edf3f3 url(../media/col_alt.jpg) no-repeat !important;
}

/* Poor old Internet Explorer won't see the next two rules either as it doesn't get :first-child */
tbody tr.alt td:first-child{
	background: #F5FAFA url(../imagen/bullet2.gif) no-repeat;
	font-weight:bold;
}

tbody tr td:first-child {
	background: #fff url(../imagen/bullet1.gif) no-repeat;
	font-weight:bold;
}

/* Image free rules for Internet Explorer < 7 */
* html tr.alt td {
	background-color:#F5FAFA;
}

* html tr td.alt,
* html tr.alt td.alt {
background-color:#edf3f3;
}

/* TERMINA CSS Especial para las tablas */


