{%load cache%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{%block title%}{%endblock%} AMUNSE</title>
    <link href="{{MEDIA_URL}}css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.4.2.min.js"></script>
    <link REL="SHORTCUT ICON" HREF="{{MEDIA_URL}}/imagen/favicon.ico">
	{%block extra_header%}{%endblock%}
</head>
<script type="text/javascript">
$(document).ready(function(){
	/************** mouseover del acordeon ****************/
	$('#acordion ul li div').mouseover(function(){
    	$(this).find('p.zona_title').css('border-bottom', '#fde17b 1px solid');
        $(this).find('p.zona_title').css('background', 'url(/archivos/imagen/fondo_menu_titulo2.png)');
	});
	$('#acordion ul li div').mouseout(function(){
    	$(this).find('p.zona_title').css('border-bottom', '#e1e1dc 1px solid');
        $(this).find('p.zona_title').css('background', 'url(/archivos/imagen/fondo_menu_titulo.png)');

	});
	/******************************************************/

    lastBlock = $('#a8');
    maxWidth = 418;
    minWidth = 134;
    $("#acordion ul li div").click(
      function(){
        $(lastBlock).animate({width: minWidth+"px"}, { queue:false, duration:400 });
		$(this).animate({width: maxWidth+"px"}, { queue:false, duration:400});
		lastBlock = this;
	  }
    );
});
</script>
<body>
  <!-- Comienza el header -->
  <div id="barra_superior" >
    <div id="contenedor_barra_superior" class="centro">
        <a href="/"><img  src="{{MEDIA_URL}}/imagen/titulo.jpg"></a>
     
        <form action="/busqueda/" method="get">
            <div>
                 <input type="text" name="q" id="busqueda" value=""/>
            </div>
        </form>
           <a href="/paginas/contacto/"><img id="boton_contacto" src="{{MEDIA_URL}}imagen/contacto.jpg"></a>
           <a href="/noticias/feed"><img id="rss" src="{{MEDIA_URL}}imagen/rss.jpg"></a>
    </div>
  </div>
  {%cache 900 menu%}
  <div id="acordion" class="centro">
        <ul>        
          {%for menu_primario in menu_primario%}
          <li>
            {% if forloop.first %}
            <div id="a8" class="welcome" style="background:url({{menu_primario.imagen.url}});">
            {% else %}
            <div id="a1" class="a1" style="{%if menu_primario.imagen%}background:url({{menu_primario.imagen.url}});{%endif%}">
            {% endif %}
               <p class="zona_title">
                    {{menu_primario.titulo}}
               </p>
               <p class="h">
                 {%for menu_secundario in menu_secundario%}
                      {% if menu_secundario.menuprimario.id == menu_primario.id %}
                      <a href="{%if menu_secundario.pagina%}/paginas/{{menu_secundario.pagina.slug}}{%else%}{{menu_secundario.url}}{%endif%}">{{menu_secundario.titulo}}</a>
                      {%endif%}
                 {%endfor%}
               </p>
            </div>
          </li>
          {%endfor%}
        </ul>
  </div>
  {%endcache%}
  <div id="contenedor" class="centro">
     <div id="contenido_izq" class="izq">
     {%block contenido%}
     
     {% endblock %}
     </div>
  {%cache 900 sidebar%}
     <div id="municipios" class="der">
         {%for municipio in municipio%}
            <a href="/municipios/{{municipio.slug}}">{{municipio.nombre}}</a>
         {%endfor%}
     </div>
   {%endcache%}
     <div class="separador"></div>
  </div>
  <div id ="final_contenedor" class="centro"></div>
  <div id="footer">
    <div id="footer_contenedor" class="centro">
        <img src="{{MEDIA_URL}}/imagen/hoja.png"><b>AMUNSE</b> Asociación de Municipios de Nueva Segovia | Desarrollado por <a href="http://www.simas.org.ni">SIMAS</a> bajo plataforma <a href="http://www.djangoproject.org">Django</a>
    </div>
  </div>
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-19280448-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
</body>
</html>
