{%extends "interna.html"%}
{%block title%}Documentos{%endblock%}
{%block cuerpo%}
    <h2>Documentos: {{subcategoria.nombre}}</h2>
    <div id="lista">
        {%for archivo in archivos.object_list%}
        <div class="elemento_lista">
                <b><a href="/documentos/{{subcategoria.categoria.slug}}/{{subcategoria.slug}}/{{archivo.slug}}">{{archivo.nombre}}</a></b><br>
                {{archivo.adjunto.size|filesizeformat}}
               <div class="seguir_leyendo der"><a class="con_flechita" href="/documentos/{{subcategoria.categoria.slug}}/{{subcategoria.slug}}/{{archivo.slug}}">Mas información</a></div>
               <div class="seguir_leyendo der"><a class="con_flechita" href="/archivos/{{archivo.adjunto}}">Descargar</a></div><br>
               <div class="separador"></div>
        </div>
        {%endfor%}
        <div class="paginacion">
               <span class="pagina-links">
                   {%if archivos.has_previous%}
                   <a href="?page={{ archivos.previous_page_number }}" class="pag_izq">anterior</a>
                   {%endif%}
                   <span class="actual">
                       Página {{ archivos.number }} de {{ archivos.paginator.num_pages }}.
                   </span>
                   {%if eventos.has_next%}
                   <a href="?page={{ archivos.next_page_number }}" class="pag_der">siguiente</a>
                   {%endif%}
               </span>
           </div>
        </div>
{%endblock %}
