{%extends "interna.html"%}
{%block title%}Documentos{%endblock%}
{%block cuerpo%}
    <h2>Documentos: {{subcategoria.nombre}}</h2>
    <div id="lista">
        {%for archivo in archivo%}
        <div class="elemento_lista">
                <b><a href="/documentos/{{subcategoria.categoria.slug}}/{{subcategoria.slug}}/{{archivo.slug}}">{{archivo.nombre}}</a></b><br>
                {{archivo.adjunto.size|filesizeformat}}
               <div class="seguir_leyendo der"><a class="con_flechita" href="/documentos/{{subcategoria.categoria.slug}}/{{subcategoria.slug}}/{{archivo.slug}}">Mas información</a></div>
               <div class="seguir_leyendo der"><a class="con_flechita" href="/archivos/{{archivo.adjunto}}">Descargar</a></div><br>
               <div class="separador"></div>
        </div>
        {%endfor%}
    </div>
{%endblock %}
