{%extends "interna.html"%}
{%block title%}Documentos{%endblock%}
{%block cuerpo%}
    <h2>Area de Documentación</h2>
    <div id="lista">
        <div id="acciones_documentos">
            <a  href="/documentos/">Documentos ></a> 
            <a  href="/documentos/{{categoria.slug}}/">{{categoria.nombre}}  ></a> 

        </div>
        {%for subcategoria in subcategoria%}
        <div class="elemento_lista">
                <div class="icon_carpeta">
                    <a href="/documentos/{{subcategoria.categoria.slug}}/{{subcategoria.slug}}"><img src="{{MEDIA_URL}}imagen/icon_carpeta_peq.jpg"></a>
                </div>
                <div class="carpeta_texto_sub der">
                <span class="titulo_doc"><a href="/documentos/{{subcategoria.categoria.slug}}/{{subcategoria.slug}}">{{subcategoria.nombre}} </a>({{subcategoria.conteo}})</span><br>
                </div>
                <div class="separador"></div>
        </div>
        {%endfor%}
    </div>
{%endblock %}
