 {%extends "interna.html"%}
 {%block extra_header%}
 {%endblock%}

    {%block cuerpo%}
        <h2>Noticias</h2>
        
        <div id="lista">
            {%for noticia in noticia%}
            <div id="elemento_lista">
                    {{noticia.titulo}}
                    {{noticia.contenido|truncatewords_html:50|safe}}
                    {{noticia.imagen}}
                    <hr>
            </div>
            {%endfor%}
            
        </div>
        {{noticia.contenido|safe}}
    {%endblock %}

 
