{%extends "interna.html"%}
{%load comments%}
{%load gravatar%}
{%block title%}Noticia - {{noticia.titulo}}{%endblock%}
{%block extra_header%}
<link href="{{MEDIA_URL}}css/facebox.css" media="screen" rel="stylesheet" type="text/css" />
<script src="{{MEDIA_URL}}js/facebox.js" type="text/javascript"></script>
<script type="text/javascript">
 jQuery(document).ready(function($) {
   $('a[rel*=facebox]').facebox({
       loading_image : '{{MEDIA_URL}}imagen/loading.gif',
       close_image   : '{{MEDIA_URL}}imagen/closelabel.gif'
     }); 
});
</script>
<script type="text/javascript" charset="utf-8">  
function bindPostCommentHandler() {  
    $('#comment_form form input.submit-preview').remove();  
    $('#comment_form form').submit(function() {  
        $.ajax({  
            type: "POST",  
            data: $('#comment_form form').serialize(),  
            url: "{% comment_form_target %}",  
            cache: false,  
            dataType: "html",  
            success: function(html, textStatus) {  
                $('#comment_form form').replaceWith(html);  
                bindPostCommentHandler();  
            },  
            error: function (XMLHttpRequest, textStatus, errorThrown) {  
                $('#comment_form form').replaceWith('Error: su comentario no pudo ser guardado en estos momentos.');  
            }  
        });  
        return false;  
    });  
}  
  
$(document).ready(function() {  
    //super dirty hack! effin django comment framework
    $("label[for='id_email']").html('E-mail');
    bindPostCommentHandler();  
});  
</script> 
{%endblock%}

    {%block cuerpo%}
        <h2>{{noticia.titulo}}</h2>
        
        <div id="detalles_noticia" class="der">
            <div id="autor_noticia">
                <b>Autor: </b>{{noticia.autor}}<br>
                <b>Fecha: </b>{{noticia.fecha|date:"d M Y"}}<br>
                <b>Categoria: </b><a href="/noticias/categoria/{{noticia.categoria.slug}}">{{noticia.categoria.nombre}}</a><br>
            </div>
            {%if noticia.imagen %}<a href="/archivos/{{noticia.imagen}}" rel="facebox"><img src="{{noticia.imagen.url_255x190}}"></a>{%endif%}
            {%if noticia.adjunto.all %}
            <div id="archivos_adjuntos">
                <b>Archivos Adjuntos</b>
                    {%for adjunto in noticia.adjunto.all%}
                        <a href="/archivos/{{adjunto.adjunto}}">{{adjunto.nombre}}</a>
                    {%endfor%}
            </div>
            {%endif%}
        </div>
        <div id="contenido_pagina">
            {{noticia.contenido|safe}}
        </div>
        <br>
        <div id="noticias_relacionadas" class="izq">
        <b>Noticias Relacionadas</b><br>
            {% for noticia_rel in noticia_rel %}
                <a href="/noticias/{{noticia_rel.slug}}">{{noticia_rel.titulo}}</a>
            {%endfor%}
        </div>
        {% if noticia.tags %}
            <div id="etiquetas" class="der">
                    <b>Etiquetas: </b><br>
                    {% for tag in noticia.get_tags %}
                    <a href="/tags/{{tag.id}}">{{tag}}</a>
                    {% endfor %}
            </div>
        {%endif%}
        <div class="separador"></div>
        <div id="comentarios_lista" class="izq">
            <br>
            <b>Comentarios</b>
            {% get_comment_count for noticia as comment_count %}

            <p><i>Esta entrada tiene {{ comment_count }} comentarios.</i></p>
            {% get_comment_list for noticia as comment_list %}
            {% for comment in comment_list %}
                <div class="comentario">
                    {% gravatar comment.user_email 48 %}
                    {%if comment.user_url%}
                        <p><a href="{{comment.user_url}}">{{comment.user_name}}</a><br> publicó el {{comment.submit_date|date:"n M Y"}}:</p></br style="clear:both">
                    {%else%}
                        <p>{{comment.user_name}}<br> publicó el {{comment.submit_date|date:"n M Y"}}:</p></br style="clear:both">
                    {%endif%}
                    <p>{{comment.comment}}</p>
                </div>
            {% endfor %}
        </div>
        <div id="comment_form" class="der">
            <br>
            <b>Envia tu comentario</b>
            {% render_comment_form for noticia %}
        </div>

    {%endblock %}
