 {%extends "interna.html"%}
 {%block extra_header%}
 {%endblock%}

    {%block cuerpo%}
        <h2>{{noticia.titulo}}</h2>
        
        <div id="detalles_noticia" class="der">
            <div id="autor_noticia">
                <b>Autor: </b>{{noticia.autor}}<br>
                <b>Fecha: </b>{{noticia.fecha|date:"n M Y"}}<br>
                <b>Categoria: </b><a href="/noticias/categoria/{{noticia.categoria.slug}}">{{noticia.categoria.nombre}}</a><br>
            </div>
            {%if noticia.imagen %}<img src="{{noticia.imagen.url_255x190}}">{%endif%}
            
        </div>
        {{noticia.contenido|safe}}
        <br>
        <div id="etiquetas" class="der">
            {% if noticia.tags %}
                <b>Etiquetas: </b><br>
                {% for tag in noticia.get_tags %}
                <a href="/tags/{{tag.id}}">{{tag}}</a>
                {% endfor %}
            {%endif%}
        </div>
        <div id="noticias_relacionadas" class="izq">
        <b>Noticias Relacionadas</b><br>
            {% for noticia_rel in noticia_rel %}
                <a href="/noticias/{{noticia_rel.slug}}">{{noticia_rel.titulo}}</a>
            {%endfor%}
        </div>

    {%endblock %}

 
