{%extends "interna.html"%}
{%block title%}Municipio - {{m.nombre}}{%endblock%}
{%block extra_header%}
	
<script type="text/javascript"> 
$(document).ready(function() {
    $("#caracterizacion").show();
    $("#historia").hide();
    $("#ubicacion").hide();
    
    $("#caracterizacion_e").click(function(){
        $("#caracterizacion").show();
        $("#historia").hide();
        $("#ubicacion").hide();
        return false;
    });
    
    $("#historia_e").click(function(){
        $("#caracterizacion").hide();
        $("#historia").show();
        $("#ubicacion").hide();
        return false;
    });

    $("#ubicacion_e").click(function(){
        $("#caracterizacion").hide();
        $("#historia").hide();
        $("#ubicacion").show();
        return false;
    });
});
</script>
{%endblock%}

    {%block cuerpo%}
        <h2>Municipio de {{m.nombre}}</h2>
        <div id="acciones_municipio">
            <a id ="caracterizacion_e" href="#">Caracterización</a>
            <a id ="ubicacion_e" href="#">Ubicación</a>
            <a id ="historia_e" href="#">Historia</a>
            <a href="/documentos/{{m.documentacion.categoria.slug}}/{{m.documentacion.slug}}">Documentos</a>
        </div>

        <div id="contenido_pagina">
            <div id="caracterizacion">
                <p><b>CARACTERIZACION</b></p>
                {{m.caracterizacion|safe}}
            </div>
            <div id="ubicacion">
                <p><b>UBICACION</b></p>
                {{m.ubicacion|safe}}
            </div>
            <div id="historia">
                <p><b>HISTORIA</b></p>
                {{m.historia|safe}}
            </div>
        </div>
        <br>        


    {%endblock %}
